wheel
certifi==2021.10.8
charset-normalizer==2.0.10
Cython==0.29.26
idna==3.3
numpy==1.22.1
Pillow==9.0.0
pkg-resources==0.0.0
requests==2.27.1
torchtext
tqdm==4.62.3
typing-extensions==4.0.1
urllib3==1.26.8
